@model LogicApplication.ViewModels.SaveSerieViewModel
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Guardar Serie";
}

<
<body class="" style="background-color:#08367e;">
    <div class="row ">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>@(editMode ? $"Editando la serie: {Model.Name}" : "Creando una nueva Serie")</h4>
                </div>
                <div class="card-body">

                    <form method="post" asp-controller="Serie" asp-action="@(editMode ? "Edit":"Create")">

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre: </label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Enlace" class="form-label">Video: 
                                (<a href="https://soporte.easypromosapp.com/hc/es/articles/360043822672-Vídeo-Cómo-obtener-el-ID-de-un-vídeo-de-YouTube" target="_blank">Sacar codigo del video</a>)
                            </label>
                            <input type="text" asp-for="Enlace" class="form-control" />
                            <span asp-validation-for="Enlace" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ImagenUrl" class="form-label">Imagen: </label>
                            <input type="text" asp-for="ImagenUrl" class="form-control" />
                            <span asp-validation-for="ImagenUrl" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="IdGeneroPrimario" class="form-label">Genero 1: </label>
                            <select asp-for="IdGeneroPrimario" class="form-select">
                                <option value=""> Seleccione una opcion</option>
                                @foreach (var gen in Model.generoList)
                                {
                                    <option value="@gen.Id">@gen.Nombre</option>
                                }
                            </select>
                            <span asp-validation-for="IdGeneroPrimario" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="IdGeneroSecundario" class="form-label">Genero 2: </label>
                            <select asp-for="IdGeneroSecundario" class="form-select">
                                <option value=""> Seleccione una opcion</option>
                                @foreach (var gen in Model.generoList)
                                {
                                    <option value="@gen.Id">@gen.Nombre</option>
                                }

                            </select>

                        </div>

                        <div class="mb-3">
                            <label asp-for="IdProductora" class="form-label">Productora: </label>
                            <select asp-for="IdProductora" class="form-select">
                                <option value=""> Seleccione una opcion</option>
                                @foreach (var pro in Model.productoraList)
                                {
                                    <option value="@pro.Id">@pro.Nombre</option>
                                }
                            </select>
                            <span asp-validation-for="IdProductora" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Id" />

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="Serie" asp-action="Index" class="btn btn-warning">Volver atras</a>
                    </form>

                </div>
            </div>

        </div>
    </div>
</body>
